In [1]:
#1) Join Data frames 
#2) create a new df with only 'title' , 'movie_id' , 'keywords' , 'overview' , 'release_date' , 'cast' , 'crew' , 'genres'
#3) check for missing values & #drop columns where movies are null because less ammount of movies 
#4) check for duplicate data 

#5) Clean genres
#5) Clean keywords
#6) Clean cast 
#7) Clean crew
#8)Convert overview column to string and split the string into parts 
#9) Now we would remove the spaces from the columns this would be done to all columns 
#10) Finally create the tags column by splitting the df 

#11)

In [2]:
import pandas as pd 
import numpy as np

In [3]:
movies = pd.read_csv('tmdb_5000_movies.csv')
credits = pd.read_csv('tmdb_5000_credits.csv')

In [9]:
movies.columns.values
credits.columns.values

array(['movie_id', 'title', 'cast', 'crew'], dtype=object)

In [8]:
movies = movies.merge(credits , on = 'title')

In [10]:
movies = movies[['title' , 'movie_id' , 'keywords' , 'overview' , 'cast' , 'crew' , 'genres']]

In [19]:
movies.isnull().sum()
movies.dropna(inplace = True)

/var/folders/yw/s44dmy757lg55pjn_4rn68m80000gn/T/ipykernel_7963/2419591666.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies.dropna(inplace = True)

In [24]:
movies.duplicated().sum()

0

In [51]:
movies.head()

,title,movie_id,keywords,overview,cast,crew,genres
0,Avatar,19995,"[culture clash, future, space war, space colon...","In the 22nd century, a paraplegic Marine is di...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron],"[Action, Adventure, Fantasy, Science Fiction]"
1,Pirates of the Caribbean: At World's End,285,"[ocean, drug abuse, exotic island, east india ...","Captain Barbossa, long believed to be dead, ha...","[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski],"[Adventure, Fantasy, Action]"
2,Spectre,206647,"[spy, based on novel, secret agent, sequel, mi...",A cryptic message from Bond’s past sends him o...,"[Daniel Craig, Christoph Waltz, Léa Seydoux]",[Sam Mendes],"[Action, Adventure, Crime]"
3,The Dark Knight Rises,49026,"[dc comics, crime fighter, terrorist, secret i...",Following the death of District Attorney Harve...,"[Christian Bale, Michael Caine, Gary Oldman]",[Christopher Nolan],"[Action, Crime, Drama, Thriller]"
4,John Carter,49529,"[based on novel, mars, medallion, space travel...","John Carter is a war-weary, former military ca...","[Taylor Kitsch, Lynn Collins, Samantha Morton]",[Andrew Stanton],"[Action, Adventure, Science Fiction]"

In [26]:
import ast

In [27]:
def func1(obj): 
    l = []
    for i in ast.literal_eval(obj):
        l.append(i['name'])
    return l

In [29]:
movies['genres'] = movies['genres'].apply(func1)

/var/folders/yw/s44dmy757lg55pjn_4rn68m80000gn/T/ipykernel_7963/443491181.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['genres'] = movies['genres'].apply(func1)

In [30]:
movies['keywords'] = movies['keywords'].apply(func1)

/var/folders/yw/s44dmy757lg55pjn_4rn68m80000gn/T/ipykernel_7963/69564021.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['keywords'] = movies['keywords'].apply(func1)

In [33]:
def func2(obj):
    l = []
    counter = 0
    for i in ast.literal_eval(obj): 
        if counter != 3:
            l.append(i['name'])
            counter += 1
        else:
            break 
    return l

In [35]:
movies['cast'] = movies['cast'].apply(func2)

In [48]:
def func3(obj):
    l = []
    for i in ast.literal_eval(obj):
        if i['job'] == 'Director':
            l.append(i['name'])
            break 
    return l

In [50]:
movies['crew'] = movies['crew'].apply(func3)

In [55]:
movies['overview'] = movies['overview'].apply(lambda x : x.split())

In [73]:
movies['crew'] = movies['crew'].apply(lambda x : [i.replace(' ', '') for i in x])

In [ ]:
movies['cast'] = movies['cast'].apply(lambda x : [i.])

In [67]:
def func4(obj):
    l = []
    for i in obj:
        l.append(i.replace(' ' , ''))
    return l

In [74]:
movies['keywords'] = movies['keywords'].apply(lambda x : [i.replace(' ' , '') for i in x])

In [75]:
movies['genres'] = movies['genres'].apply(func4)

In [77]:
movies['tags'] = movies['keywords'] + movies['genres'] + movies['cast'] + movies['crew'] + movies['overview']

In [78]:
movies = movies[['title' , 'tags']]

In [79]:
movies

,title,tags
0,Avatar,"[cultureclash, future, spacewar, spacecolony, ..."
1,Pirates of the Caribbean: At World's End,"[ocean, drugabuse, exoticisland, eastindiatrad..."
2,Spectre,"[spy, basedonnovel, secretagent, sequel, mi6, ..."
3,The Dark Knight Rises,"[dccomics, crimefighter, terrorist, secretiden..."
4,John Carter,"[basedonnovel, mars, medallion, spacetravel, p..."
...,...,...
4804,El Mariachi,"[unitedstates–mexicobarrier, legs, arms, paper..."
4805,Newlyweds,"[Comedy, Romance, EdwardBurns, KerryBishé, Mar..."
4806,"Signed, Sealed, Delivered","[date, loveatfirstsight, narration, investigat..."
4807,Shanghai Calling,"[DanielHenney, ElizaCoupe, BillPaxton, DanielH..."
4808,My Date with Drew,"[obsession, camcorder, crush, dreamgirl, Docum..."

In [81]:
import nltk 
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [84]:
def func5(obj): 
    l = []
    for i in obj:
        l.append(ps.stem(i))
    return " ".join(l)

In [86]:
movies['tags'] = movies['tags'].apply(func5)

/var/folders/yw/s44dmy757lg55pjn_4rn68m80000gn/T/ipykernel_7963/2359202410.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['tags'] = movies['tags'].apply(func5)

In [87]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features = 5000 , stop_words= 'english')

In [93]:
vectors = cv.fit_transform(movies['tags']).toarray()

In [94]:
vectors

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [95]:
#Find cosign distance 
from sklearn.metrics.pairwise import cosine_similarity

In [97]:
similarity = cosine_similarity(vectors)

In [136]:
        
def func8(obj):
    movies_index = movies[movies['title'] == obj].index[0]
    distance = similarity[movies_index]
    movie_list = sorted(list(enumerate(distance)) , reverse= True , key= lambda x : x[1])[1:6]
    
    for i in movie_list:
        print(movies.iloc[i[0],0])

In [137]:
func8('Avatar')

Aliens vs Predator: Requiem
Aliens
Falcon Rising
Independence Day
Titan A.E.

In [132]:
movies.iloc[0 , 0]

'Avatar'